/**
 * Styles
 */
* {
  margin: 0;
}

html {
  background: hsl(24, 20%, 99%);
  max-width: 40em;
  padding-left: 12em;
  margin: auto;
}

body {
  padding: 1em;
  border-left: 1px solid hsla(200,10%,20%,.4);
  margin: 2em auto;
  font: 120%/1.5 "Open Sans", sans-serif;
  text-align: justify;
  font-weight: lighter;
  hyphens: auto;
  text-shadow: 0 0.0847em white; /* See issue #134 */
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: subpixel-antialiased; /* fix any issues caused by translateZ fix */
}

h1, h2 {
  font: bold 200%/1 "Open Sans", sans-serif;
  color: #333;
}

body > hgroup {
  color: black;
  font-size: 300%;
  -webkit-transform: translateZ(0); /* fix for chopped letters */
}

  body > hgroup > h1 {
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
	font-weight: bold;
    line-height: 1.4;
  }
  
  body > hgroup > h1 > a {
    text-decoration: none;
  }
  
  body > hgroup > h2 {
    margin-top: -.2em;
    font: 80%/1 "Open Sans";
    text-indent: .1em;
    color: #166BB9;
    cursor: help;
  }

p {
  margin: 1em 0;
}

a {
  color: hsl(200, 10%, 20%);
}

kbd {
  display: inline-block;
  min-width: 1em;
  padding: .2em;
  border: 1px solid #ddd;
  border-radius: .3em;
  background: white;
  text-align: center;
  line-height: 1;
}

kbd[title] {
  cursor: help;
}

section:first-of-type,
section#toc {
  font-size: 130%;
}

section h1,
section h2 {
  margin: .5em 0 .5em;
  line-height: 1;
  letter-spacing: -.05em;
}

section h1 {
  font-size: 350%;
}

section h2 {
  font-size: 200%;
  color: hsl(200, 10%, 20%);
}

nav {
  position: fixed;
  top: 0;
  width: 10em;
  padding-right: 1em;
  margin-left: -21em;
  z-index:101;

}
  #img_nav {
    margin-left: -5em;
    padding-top: 1em;
    background-color: white;
  }

nav ol {
	padding: 0;
  position: relative;
  top: -10em;
  list-style: square;
}

nav:not(:hover) {
  color: rgba(5, 17, 22, 0.7);
}

  nav > ol {
    list-style-position: inside;
  }
  
  nav a {
    padding: .25em 0;
    text-decoration: none;
    color: inherit;
    font-size: 30px;
  }
  
  nav a:hover {
    color: #a34;
  }

#left_panel {
  position: relative;
  left: -23em;
  top: 5em;
  z-index: 100;
  height: 0;
}
  #img_rollup {
    width: 338px;
  }

table {
  border-spacing: 0;
}

thead {
  background: rgba(0,0,0,.1);
}

td {
  border-bottom: 1px solid rgba(0,0,0,.3);  
  padding: .3em .5em;
  vertical-align: top;
}  
  tbody td:first-child {
    width: 10em;
  }
  
  tbody td:first-child > kbd {
    font-size: 120%;
  }
  
  tbody td:first-child > .note {
    font-size: 65%;
  }

footer {
  border-top: 1px solid rgba(0,0,0,.2);
  padding: .5em;
  text-align: center;
}

#quick-links {
  font-style: italic;
}
  
  #quick-links > a {
    padding: .4em .8em;
    background: rgba(4, 2, 9, .6);
    color: lightseagreen;
    font-weight: bold;
    border-radius: 999px;
    text-decoration: none;
    text-shadow: 0 -1px 1px black;
    box-shadow: 0 .1em white;
  }
  
  #quick-links > a:hover {
    background-color: hsl(200, 10%, 20%);
  }

::selection {
  background-color: initial; 
  color: white;
  text-shadow: none; 
}