
.DS_Store

GoogleDevelopersIsrael/.classpath

GoogleDevelopersIsrael/.settings/com.google.appengine.eclipse.core.prefs

GoogleDevelopersIsrael/.settings/com.google.gdt.eclipse.core.prefs

GoogleDevelopersIsrael/.settings/org.eclipse.jdt.core.prefs

GoogleDevelopersIsrael/.settings/org.eclipse.wst.common.project.facet.core.xml

GoogleDevelopersIsrael/src/META-INF/jdoconfig.xml

GoogleDevelopersIsrael/src/META-INF/persistence.xml

GoogleDevelopersIsrael/src/log4j.properties

GoogleDevelopersIsrael/war/WEB-INF/appengine-web.xml

GoogleDevelopersIsrael/war/WEB-INF/lib/appengine-api-1.0-sdk-1.6.3.jar

GoogleDevelopersIsrael/war/WEB-INF/logging.properties

GoogleDevelopersIsrael/.project

GoogleDevelopersIsrael/war/WEB-INF/lib/appengine-api-labs-1.6.3.jar

GoogleDevelopersIsrael/war/WEB-INF/lib/appengine-jsr107cache-1.6.3.jar

GoogleDevelopersIsrael/war/WEB-INF/lib/datanucleus-appengine-1.0.10.final.jar

GoogleDevelopersIsrael/war/WEB-INF/lib/datanucleus-core-1.1.5.jar

GoogleDevelopersIsrael/war/WEB-INF/lib/datanucleus-jpa-1.1.5.jar

GoogleDevelopersIsrael/war/WEB-INF/lib/geronimo-jpa_3.0_spec-1.1.1.jar

GoogleDevelopersIsrael/war/WEB-INF/lib/geronimo-jta_1.1_spec-1.1.1.jar

GoogleDevelopersIsrael/war/WEB-INF/lib/jdo2-api-2.3-eb.jar

GoogleDevelopersIsrael/war/WEB-INF/lib/jsr107cache-1.1.jar

GoogleDevelopersIsrael/war/WEB-INF/web.xml

GoogleDevelopersIsrael/war/WEB-INF/classes/META-INF/jdoconfig.xml

GoogleDevelopersIsrael/war/WEB-INF/classes/META-INF/persistence.xml

GoogleDevelopersIsrael/war/WEB-INF/classes/log4j.properties

gdg-il/.classpath

gdg-il/.project

*.prefs

*.xml

*.jar

*.properties

gdg-il/war/css/style.css

gdg-il/war/imgs/icon.png

gdg-il/war/imgs/logo.png

gdg-il/war/imgs/network.png

gdg-il/war/index.html
